a{
    text-decoration: none;
    color: #664433;
}
body{
    margin: 0;
    background-color: #f5f5dd;
}
header{
    width: 100%;
    min-width: 960px;
    border-bottom: solid 1px #cccccc;
    background-color: #ffffff;
}
header p{
    color: #664433;
    font-size: 15px;
    margin: 0;
}
header img p{
    float: left;
}
header div{
    margin: 0 auto;
    width: 960px;
}
header ul{
    list-style-type: none;
    display: flex;
    text-align: center;
    color: #664433;
    padding-left: 0;
}
header li{
    flex: 1;
    border-left: solid 1px #cccccc;
}
header li:first-child{
    border-left: none;
}
header a{
    display: block;
}
form{
    float: right;
    margin-top: 10px;
}
.mainview{
    width: 960px;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}
main{
    margin:0 auto;
    width: 960px;
    display: flex;
}
nav{
    flex: 3;
}
article{
    flex: 10;
    margin: 0px 10px;
}
aside{
    flex: 2;
}
.flex1{
    display: flex;
}
.flex1 p{
    font-size: 10px;
    margin-top: 0;
}
.flex1 div{
    flex: 1;
    text-align: center;
}
.flex2{
    display: flex;
}
.more{
    float: right;
}
.more:before{
    content: url(images/icon/arrow.png);
    position: relative;
    top: 2px;
    right: 5px;
}
.more a{
    color: #fc8833;
}
section{
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}
h1{
    border-radius: 30px;
    color: #ffffff;
    background-color: #99bb22;
    padding: 5px;
    margin-top: 0;
}
h1:before{
    content: url(images/icon/dish.png);
    margin-right: 15px;
    position: relative;
    top: 5px;
    left: 10px;
}
.indent{
    text-indent: 1em;
    margin-top: 0;
}
h2{
    color: #8b4513;
    margin-top: 0;
    font-size: 20px;
}
.content{
    margin: 0 10px;
}
.content p{
    font-size: 15px;
}
nav li{
    border-top: dashed 1px #cccccc;
}
nav li a{
    display: block;
    padding: 5px;
}
nav li a:before{
    content: url(images/icon/arrow.png);
    position: relative;
    right: 5px;
}
nav li:first-child{
    border-top: none;
}
nav ul{
    padding-left: 10px;
    list-style: none;
}
aside img{
    margin-bottom: 10px;
}
aside a{
    display: block;
}
footer{
    width: 100%;
    min-width: 960px;
    border-top: solid 1px #cccccc;
    background-color: #ffffff;
}
footer ul{
    font-size: 10px;
    list-style: none;
    display: flex;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}
footer li{
    flex: 1;
    border-left: solid 1px #cccccc;
}
footer li:first-child{
    border-left: none;
}
footer p{
    color: #808080;
    text-align: center;
}
footer div{
    width: 960px;
    margin: 0 auto;
}